{
  "presets": [
    ["@babel/preset-env", { "modules": false }],
    "@babel/preset-flow",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    ["@babel/plugin-proposal-class-properties", { "spec": true }]
  ],

  "env": {
    "test": {
      "presets": ["@babel/preset-env"]
    }
  }
}
